input {
	text-align: center;
}

.background-container.background-container-editgoal {
	padding-top: 100px;
	background-image: url('wood-nature-walking-dark.jpg');
	overflow-y: scroll;
}

.editGoalPicture {
	height:200px;
}