.goal-card {
	background-color: tomato;
}

.goal-card-image {
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
}

.completion-bar {
	height: 20px;
	position: relative;
	bottom: 0px;
	background-color: #49494C;
}

.completion-bar > .completion-percent {
	width: 25%;
	height: 20px;
	background-color: #4D78CC;
	position: relative;
	display: block;
	overflow: hidden;
}