.goal-card {
	background-color: #698ECC;
	padding: 10px;
	margin: 10px;
	height: 400px;
	color: black;
}

.goal-card-image {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
	margin-top: 5px;
	padding: 0px;
}

.progress-custom {
	width: 100%;
	position: relative;
	bottom: 0px;
}

.success-color {
	background-color: #50FF57
}

.work-to-go {
	background-: #FF6347;
}

.halfway-there {
	background-: #FFD73E;
}

.almost {
	background-color: #C8E82D;
}

.journey-begun {
	background-color: #E88E2D;
}