.navbar-custom {
	background-color: tomato;
	padding-right:10px;
	width:100%;
	border: none;
	font-color: black;
}

.nav.navbar-nav li a {
	color: white;
}

.navbar.navbar-header.navbar-brand {
	color: white;
}

.navbar.navbar-header.navbar-toggle a {
	color: white;
}

.navbar-right p {
	color: white;
}