.addgoal-form {
	margin: auto;
	text-align:center;
	min-height: 50%;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
}

.addgoal-form-1 {
	position: absolute;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	width: 75%;
	min-height: 50%;
	top: 25%;
	left: 50%;
}

.not-logged-in-alert {
	background-color: tomato;
	padding:20px;
	border-radius: 10px;
}

.button-padding {
	padding-top: 10px;
	margin: 5px;
}

.background-container.background-container-addgoal {
	background-image: url('wood-nature-walking-dark.jpg');
	overflow-y: scroll;
}

.center-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}